[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
black = "*"
flask = "*"
tiktoken = "*"
flask-sqlalchemy = "*"
mysql-connector-python = "*"
docker = "*"

[dev-packages]

[requires]
python_version = "3.11"
